html{
  font-size: .9em;
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(65,105,225,.35); /*#4169E1; --royalblue hex val*/
}
body{
  margin: 0;
}
#dimmer{
  top: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: rgba(0,0,0,0.2);
  opacity: 0;
}
input[type="submit"],
button{
  border: none;
  border: 2px solid #666;
  border-radius: 4px;
  padding: 8px;
  background-color: white;
  font-weight: 600;
  color: #666;
}
#logout_btn{
  float: right;
  cursor: pointer;
}
#upload-form{
}
#upload-btn{
  margin: 18px 0 0 8px;
}
#choose-a-photo{
  margin: 12px 0 0 12px;
}
input[type="file"]{
  margin: 12px 0 0 8px;
}
img[src="../icons/gear.png"]{
  float: right;
  width: 18px;
  padding: 5px 5px 0 5px;
  user-select: none;
  cursor: pointer;
  opacity: .75;
}
#settings{
  display: block;
  position: absolute;
  margin: auto;
  width: 80%;
  height: 80%;
  top: 0; right: 0;
  bottom: 0; left: 0;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.25);
  display: none;
}
#user-name-color{
  font-weight: bold;
  color: royalblue;
}
#settings-close-button,
#profile-photo-modal-close-button,
#change-address-modal-close-button,
#change-email-modal-close-button,
#about-me-modal-close-button{
  float: right;
  margin: 4px 6px 0 0;
  cursor: pointer;
  font-weight: bold;
}
#profile-photo{
  border: 2px solid royalblue;
  border-radius: 4px;
  margin: 8px 0 0 16px;
  cursor: pointer;
}
#profile-photo{
}
#profile-photo-change,
#add-change-email,
#add-change-address,
#about-me-update{
  margin: 12px 0 0 12px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.update-button:hover{
  color: blue;
}
#profile-photo-change{
  width: 400px;
}
#add-change-address,
#add-change-email{
  width: 200px;
}

#profile-photo-modal,
#change-address-modal,
#change-email-modal,
#about-me-modal{
  display: block;
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  top: 0; right: 0;
  bottom: 0; left: 0;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.25);
  display: none;
}

input[name="email"]{
  margin: 0 0 0 10px;
  width: 92%;
}
input[value="Submit e-mail"]{
  margin: 0 0 0 12px;
}
input[name="address"]{
  width: 92%;
}
.input-label{
  font-size: 10px;
}
.email-label{
  margin: 20px 0 0 10px;
}
#enter-your-details,
#user-details-input{
  margin: 8px 0 0 8px;
}

#welcome-tag{
  font-size: 1.1em;
  margin: 10px 0 0 8px;
}
#details-tag{
  font-weight: bold;
  font-size: 1.1em;
  margin: 0 0 0 8px;
}

#user-email-tag,
#user-address-tag,
#user-blurb-tag{
  margin: 0 0 0 12px;
  font-weight: bold;
}

#user-email-content,
#user-address-content,
#user-blurb-content{
  margin: 0 0 0 12px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 8px;
  background-color: #FFF;
  padding: 12px;
}

#user-blurb-content{
  width: 88%;
}

#user-email-content,
#user-address-content{
  width: unset;
  display: inline-block;
}

textarea[name="blurb"]{
  width: 88%;
  height: 200px;
  margin: 12px 0 0 12px;
}

input[name="blurb-submit"]{
  margin: 0 0 0 10px;
}
