html{
  font-family: 'Open Sans', sans-serif;
}
#logout_btn{
  float: right;
  cursor: pointer;
}
#upload-form{
}
#upload-btn{
  margin: 18px 0 0 8px;
}
#choose-a-photo{
  margin: 12px 0 0 12px;
}
input[type="file"]{
  margin: 12px 0 0 8px;
}
img[src="../icons/gear.png"]{
  float: right;
  width: 18px;
  padding-left: 2px;
  user-select: none;
  cursor: pointer;
}
#settings{
  display: block;
  position: absolute;
  margin: auto;
  width: 600px;
  height: 400px;
  top: 0; right: 0;
  bottom: 0; left: 0;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.25);
  display: none;
}
#settings-close-button,
#profile-photo-modal-close-button,
#change-user-details-modal-close-button{
  float: right;
  margin: 4px 6px 0 0;
  cursor: pointer;
}
#profile-photo{
  margin: 8px 0 0 8px;
}
#profile-photo{
}
#profile-photo-change,
#add-change-user-details{
  margin: 12px 0 0 12px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
#profile-photo-change{
  width: 400px;
}
#add-change-user-details{
  width: 200px;
}

#profile-photo-modal,
#change-user-details-modal{
  display: block;
  position: absolute;
  margin: auto;
  width: 590px;
  height: 390px;
  top: 0; right: 0;
  bottom: 0; left: 0;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.25);
  display: none;
}
#change-user-details-modal{
}
input[name="email"]{
  width: 200px;
}
input[name="address"]{
  width: 300px;
}
.input-label{
  font-size: 10px;
}
#enter-your-details,
#user-details-input{
  margin: 8px 0 0 8px;
}

